@import 'functions'
@import 'colors'
@import 'utils'
@import 'type'

body
	font-family : "Calibri"//-, Helvetica
	color:#000
	font-weight:200
	// height 20000px
	// background:url('/public/img/hd-bg.png') 0 0 no-repeat

footer
	position fixed
	width 100%
	bottom 0px

#splash-text-fader
	transition(all, 2s, ease-out)
	opacity 0

	&.splash-fade
		opacity 1
		transform(translate(0px, -50px))



/************************/
/***** Logo Styles ******/
/************************/

.style-logo
	font-size 55px
	line-height 25px
	margin-top 4px

.bits-logo
	font-size 96px
	line-height 25px
	
/***********************/
/***** Nav Styles ******/
/***********************/

#floating-nav
	top -90px
	width 100%
	position fixed
	background-color rgba(50,50,50,0.8)
	transition(all, 0.3s, ease-out)

	&.shown
		top 0px



#splash-text
	height: 640px





@media(min-width: 768px)
	#floating-nav
		top -50px

	#splash-text
		height: 768px

	/************************/
	/***** Logo Styles ******/
	/************************/

	.style-logo
		font-size 115px
		line-height 50px
		margin-top 8px

	.bits-logo
		font-size 200px
		line-height 50px




@media(min-width 992px)
	#floating-nav
		top -50px

	#splash-text
		height: 850px

